<html {
  background-color: #ffffff;

}

body {
  background: url(smoke.PNG);
  border: 4px solid #000000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;

}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
}
.active {
  background-color: #4CAF50;
}

div.a {
  word-wrap: break-word;
  width: 150px;
  margin: auto;

}

.link1 { margin: auto;
}

.bio {
  font-family: Lato, serif;
  font-size: 3cm;
  color: black;

}



.name {
  font-family: Lato, serif;
  font-size: 3cm;
  color: black;

}

.bio {
  font-family: Lato, serif;
  font-size: 1cm;
  color: black;

}

.projects {
  font-family: Lato, serif;
  font-size: 1cm;
  color: black;

}

.intro {
  font-family: Lato, serif;
  font-size: 1cm;
  color: black;
}



img.a {
  width: 100%; height: auto;
}
